body
{
    background-color: #e2e2e2;
}

button
{
    margin: 10px;
}

#favoritesButton
{
    float: right;
}

label
{
    font-weight: bold;
}

p
{
    text-align: center;
}

.gifs
{
    display: inline-block;
}

.showRating
{
 display: block;   
}

.hideRating
{
    display: none;
}

.showTitle
{
 display: block;   
}

.hideTitle
{
    display: none;
}

#favorites
{
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    img
    {
        height: 140px;
        width: 120px;
        padding: 10px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    img
    {
        height: 150px;
        width: 120px;
        padding: 10px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    img
    {
        height: 200px;
        width: 155px;
        padding: 10px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    img
    {
        height: 232px;
        width: 200px;
        padding: 10px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    img
    {
        height: 232px;
        width: 226px;
        padding: 10px;
    }
}


